:root {
  --yale-blue: #084b83ff;
  --maximum-blue: #42bfddff;
  --powder-blue: #bbe6e4ff;
  --cultured: #f0f6f6ff;
  --hot-pink: #ff66b3ff;
}

body {
  background-color: var(--cultured);
  color: var(--yale-blue);
}


.section-header-text {
  text-decoration: underline;
  text-decoration-color: var(--hot-pink);
  word-wrap: break-word;
}
